

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aqua;
}


.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}


}
.btn-1{
    background-color: #469165;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

}
.btn-primary{
    background-color: #469165;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.btn-secondary{
    background-color: none;
    color: white;
    border: 1px solid #469165;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.btn{
    background-color: #469165;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}


/* main atyle */
header{
    background-color:#FFFFFF;
    padding-top: 16px;

}
nav{
    width: 71%;
    max-width: 1600px;
    height: 92px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content:space-between
   
    
; */
    /* justify-content: center */
}
nav .menu{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 32px;
   
}
nav .menu a{
    text-decoration: none;
    color: #000000;
    font-size: 10px;
    font-weight: 500;
}
    
nav .logo{
    /* align-items: left; */

}
.hero{
    height:100vh;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.btn-early-access{
    background-color: white;
    color:green;
    border: none;
    padding: 8px 16px;
    border-radius: 80px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.white{
    color: white;
    text-align: center;
}
.red{
    color: red;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    
}
.text{
    color: white;
    text-align: center;
    font-size: 8px;
    gap: 250px;
    line-gap-override: calc(20);
    line-height: 24px;
}
.start{
    background-color: red;
    color: white;
    border: none;
    padding: 12px 5px;
    border-radius: 8px;
    font-size: 02;
    cursor: pointer;
}
.see{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 12px 5px;
    border-radius: 8px;
    margin-top: 0px;
    text-align: center;
    font-size: 02;
    cursor: pointer;

}
.couple{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;

}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.notes{
    text-align: center;
    padding: 40px;
}
.you{
    font-size: 11px;
    color:#627382;
    margin-top: 16px;
}
.card-section{
    padding: 80px 0px;
    background: #f9f9fb;
    justify-content: space-between;
}
.container{
  width: 90%;
    max-width: 1200px;
    margin:  auto;
    justify-content: space-between;
}
.card{
    background: white;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}
#skills{
    padding: 80px 0px;
    margin: 0 auto;


}
.img-icon{
    background-color: green
  

}
.section-heading{
    text-align: center;
    align-items: center;

    
/* }
#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 40px;

}
#skills .skills-container .skill-box .skill-card{
    background: white;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 220px;
    height: 220px;
    text-align: center;
}
.skill-box .skill-card{
    margin-top: 16px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
} */
 /* 
 
*/
/* 
.card-section{
    display: flex;
    align-items: center; */

}
.skill-box{
    display: flex;
    justify-content: space-between;
}
.card-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding: 60px ;
    border: size 322px 300px;
    
}
.skill-card{
    text-align: center;
    padding: 30px;
   
    background-color:white

}